<nav class="subnav align">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="javascript://">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Wiki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Back Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://"><clr-icon shape="plus"></clr-icon></a>
      </li>
    </ul>
  </nav>
