<clr-vertical-nav class="dimesion-setings">
  <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active" ><clr-icon shape="bell"></clr-icon> Activity</a>
  <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active"><clr-icon shape="chat-bubble"></clr-icon> Chats</a>
  <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active"><clr-icon shape="user"></clr-icon>Teams</a>
  <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active"><clr-icon shape="phone-handset"></clr-icon> Calls</a>
  <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active"><clr-icon shape="calendar"></clr-icon> Calender</a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active"><clr-icon shape="help"></clr-icon>Help</a>
</clr-vertical-nav>