<nav class="sidenav">
    <section class="sidenav-content">
      <section class="nav-group">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Xians</label>
        <ul class="nav-list">
            <li><a class="nav-link">General</a></li>
            <li><a class="nav-link">Celebrations</a></li>
            <li><a class="nav-link">Industry Colloborations</a></li>
            <li><a class="nav-link">Innovatives</a></li>
            <li><a class="nav-link">Marketing Updates</a></li>
            <li><a class="nav-link">Technology Updates</a></li>
        </ul>
    </section>
    <section class="nav-group">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Internal Systems</label>
        <ul class="nav-list">
            <li><a class="nav-link active">General</a></li>
            <li><a class="nav-link">Carrier Development</a></li>
            <li><a class="nav-link">Cloud Notifications</a></li>
        </ul>
    </section>
    </section>
</nav>
