<div *ngFor="let post of posts">
    <div class="card" [ngClass]="1 == post.userId ? 'my-message-background' : 'other-user-messaage-background' ">
      <div class="card-header">
        <div *ngIf="1 == post.userId; else elseBlock">
          <img src="../../assets/My_Profile_Image.jpeg" alt="profile picture" class="profile-pictre-dimensions">

          <span class="modify-options">
            <ng-container *ngIf="1 == post.userId">
              <clr-icon shape="pencil" class="is-solid" (click)="editPost(post.id)" ></clr-icon>
              <clr-icon shape="trash" class="is-solid" (click)="deletePost(post.id)"></clr-icon>
           </ng-container>
          </span>

        </div>
        <ng-template #elseBlock>
          <img src="../../assets/profile_image_avatar.jpg" alt="profile picture" class="profile-pictre-dimensions">
        </ng-template>
        
  <div class="card-block">
    <h4><i><b>{{post.user.full_name}} : {{post.dateTime | date:'short':'UTC+11:00'}}</b></i></h4>
      <div>
        <p><b>{{post.message}}</b></p>
      </div>
</div>
</div>
</div>
</div>
